<nav class="nav" id="nav">

  <button class="nav__toggle" type="button" id="nav-toggle" aria-label="Toggle navigation">
    <span>Toggle navigation</span>
  </button>

  <div class="nav__container">

    <ul class="nav__list">
      {% for item in site.data.navigation %}
        <li class="nav__item">
          <a class="nav__link {% if item.url == page.url %}nav__link--active{% endif %}" href="{{ item.url | prepend: site.base_url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>

  </div>

</nav>