<nav class="nav" id="nav">

  <button class="nav__toggle" type="button" id="nav-toggle" aria-label="Toggle navigation">
    <span>Toggle navigation</span>
  </button>

  <div class="nav__container">

    <ul class="nav__list">
      {% assign sorted_nav = site.pages | sort:"position" %}
      {% for item in sorted_nav %}
        {% if item['is in navigation'] %}
        <li class="nav__item">
          <a class="nav__link {% if item.url == page.url %}nav__link--active{% endif %}" href="{{ item.url | prepend: site.url }}">{{ item.title }}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>

  </div>

</nav>

