.header {
  left: 0;
  padding: calcSize(20px) 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;

  @include breakpoint(lg) {
    padding: 0;
  }

  &__brand {
    @include align-items(center);
    @include flexbox;
    height: 45px;
    position: relative;
    z-index: 10;

    @include breakpoint(lg) {
      margin-top: calcSize(25px);
    }

  }

  & > .wrapper {
    @include align-items(center);
    @include flexbox;
    @include justify-content(space-between);

    @include breakpoint(lg) {
      @include align-items(flex-start);
      padding-right: calcSize(20px);
    }

  }

}